@charset "utf-8";

body {
  font-size: 14px;
  font-family: Verdana, sans-serif;
}

#open, #close {
  cursor: pointer;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 3px; /* 角丸つけたい*/
  text-align: center;
  line-height: 40px; /* 上下中央にテキスト配置*/
  margin: 15px auto; /*marginを上につけたいのと、中央揃えにしたいためauto*/
}

#mask {
  background: rgba(0, 0, 0, 0.4);

  /* 以下で画面いっぱいにマスクを表示*/
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left:0;

  z-index: 1;
}

#mask.hidden {
  display: none;
}

#modal {
  background: #fff;
  width: 300px;
  padding: 20px;
  border-radius: 4px;

  /*position を absolute にして Window の左上を起点としつつ、
    top: 40px; で上から 40px のところに配置*/
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  margin:0 auto;

  /* 上からおりてくる形とする*/
  transition: .8s;

  z-index: 2;
}

#modal.hidden {
  transform: translate(0, -500px);
}

#modal p {
  /*行間を持たせる*/
  line-height: 1.5;
  margin: 0 0 20px;

}